name: navauth-velocity

services:

  limbo:
    image: ghcr.io/quozul/picolimbo:latest
    restart: unless-stopped
    volumes:
      - ./run/limbo/server.toml:/usr/src/app/server.toml

  velocity:
    image: itzg/mc-proxy
    ports:
      - "25577:25577"
      - "5005:5005"
    environment:
      - TYPE=VELOCITY
      - EULA=TRUE
      - JVM_OPTS=-Dlog4j.configurationFile=log4j2.xml
      - JVM_XX_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005

    volumes:
      - ./run/velocity/plugins:/plugins
      - ./run/velocity/navauth:/server/plugins/navauth
      - ./run/velocity/config:/config

  paper:
    hostname: paper1
    image: itzg/minecraft-server
    environment:
      - EULA=TRUE
      - TYPE=PAPER
      - VERSION=1.21.10
      - ONLINE_MODE=FALSE
      - MODRINTH_PROJECTS=luckperms:beta,viaversion:beta,viabackwards:beta
      - JVM_OPTS=-Dlog4j.configurationFile=log4j2.xml
#      - JVM_XX_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    volumes:
      - ./run/paper:/data/
