# Sample workflow for building and deploying a VitePress site to GitHub Pages
#
name: Deploy docs site to Pages

on:
  # Runs on pushes targeting the `main` branch. Change this to `master` if you're
  # using the `master` branch as the default branch.
  push:
    paths:
      - docs/**
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  # generate additional docs files via navauth-docs-gen module
  run-generate-docs-task:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      USERNAME: ${{ github.actor }}
      TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission
        run: chmod +x ./gradlew
      - name: Execute Gradle build
        run: ./gradlew task navauth-docs-gen:generate
      - name: Upload generated docs
        uses: actions/upload-artifact@v4
        with:
          name: generated-docs
          path: docs/docs/generated

  run-generate-javadoc-task:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      USERNAME: ${{ github.actor }}
      TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Execute Gradle javadoc on navauth-api module
        run: ./gradlew navauth-api:javadoc # builds to docs/dist/javadoc

      - name: Upload generated javadoc
        uses: actions/upload-artifact@v4
        with:
          name: generated-javadoc
          path: docs/dist/javadoc


  # Build job
  build:
    needs: [run-generate-docs-task, run-generate-javadoc-task]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs/
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache-dependency-path: docs/pnpm-lock.yaml
          node-version: latest
          cache: pnpm
      - name: Download generated docs
        uses: actions/download-artifact@v4
        with:
          name: generated-docs
          path: docs/docs/generated
      - name: Download generated javadoc
        uses: actions/download-artifact@v4
        with:
          name: generated-javadoc
          path: docs/javadoc
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Install dependencies
        run: pnpm install
      - name: Build with VitePress
        run: pnpm docs:build # builds to docs/dist/docs
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/dist

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4