name: Release

on:
  push:
    tags:
      - 'v*'
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: [ self-hosted ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Build shadow JAR
        run: ./gradlew shadowJar

      - name: Upload JARs to release (for release trigger)
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: target/*.jar
          tag_name: ${{ steps.get_version.outputs.RELEASE_TAG }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}